[submodule "XlentRestDTO"]
	path = XlentRestDTO
	url = https://github.com/xlent-bi/XlentRestDTO
[submodule "Xamarin-Forms-Labs"]
	path = Xamarin-Forms-Labs
	url = https://github.com/XLabs/Xamarin-Forms-Labs
